@import url("./styles/header.css");
@import url("./styles/lancamentos.css");
@import url("./styles/sobre-nos.css");

:root {
  /* cores */
  --cor-background: #f6f6f6;
  --cor-texto-principal: #1e1d24;
  --cor-roxo-escuro: #322f38;
  --cor-roxo-claro: #77758d;
  --cor-creme-claro: #ddb0b0;
  --cor-creme-escuro: #914848;

  /* fonts */
  --font-principal: "Inter", sans-serif;
  --font-secundaria: "Wix Madefor Text", sans-serif;
}

body {
  background-color: var(--cor-background);
}
