.lancamentos {
  padding: 2em;
}

.lancamentos__titulo {
  display: flex;
  list-style-type: circle;
  font-weight: 600;
  font-size: 2em;
  color: var(--cor-creme-escuro);
  font-family: var(--font-principal);
}

.lancamentos__titulo-ano {
  display: none;
}

.lancamentos__titulo-bolinha {
  font-size: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
}

.lancamentos__container {
  padding: 1em 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-secundaria);
  gap: 10px;
}

.lancamentos__produto {
  font-size: 1em;
  color: var(--cor-roxo-claro);
}

.lancamentos__container hr {
  border: 1px solid var(--cor-roxo-claro);
  width: 25%;
}

.lancamentos__preco {
  font-size: 0.8em;
  width: 80px;
  color: var(--cor-roxo-claro);
  font-weight: 600;
}

.lancamentos__preco-hilight {
  color: var(--cor-creme-escuro);
}

.lancamentos__container-imagem {
  height: 300px;
}

.lancamentos__imagem {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .lancamentos {
    padding: 4em;
  }

  .lancamentos__titulo {
    font-size: 4em;
  }
  .lancamentos__titulo-container {
    display: flex;
    justify-content: space-between;
  }

  .lancamentos__titulo-ano {
    display: block;
    font-weight: 600;
    font-size: 8em;
    color: var(--cor-creme-escuro);
    font-family: var(--font-principal);
    opacity: 0.2;
  }
  .lancamentos__container {
    margin-top: -2.5em;
    font-size: 2em;
  }
  .lancamentos__preco {
    width: 120px;
  }

  .lancamentos__container-imagem {
    padding: 0 2em 0;
    height: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .lancamentos {
    padding: 4em 15em;
  }
}
